.background{
    background-image: url('../../assets/h.jpg');
    background-size:cover;

}
.back{
    opacity: 0.7;
    margin-top:100px;
    border-radius: 100px;
    max-width: 70%;
    margin-left:60px;
 
}

.button{
    margin-left:80px;
    opacity: 0.7;
    margin-left:60px;
    width:60%;
}
.pic{
    margin-left: 50px;
    margin-top:-7px;
}

