page-register {
    .background{
        background-image: url('../../assets/h.jpg');
        background-size:cover;
        
    }
    
.back{
    opacity: 0.7;
    margin-top:100px;
    max-width: 70%;
    margin-left:60px;
}

.button{
    margin-left:65px;
    opacity: 0.7;
    margin-bottom: 100px;
    width:60%;
}
h1{
    margin-top:30%;
}
.item{
    color:black;
    background-color:white;
}

}
