page-home {
    .background{
        background-image: url('../../assets/janet.jpg');
        background-size:cover;
        background-attachment: fixed;
        margin:0 auto;   
      

    }
    .back{
        opacity: 10;
        font-size: large;
        margin-left:45px;
        background-attachment: fixed;
        margin-top:80%;
        max-width:500%;
        
       
      
        
        
    }

}
