page-home {
    .background{
        background-image: url('../../assets/janet.jpg');
        background-size:cover;
        background-attachment: fixed;
        margin:0 auto;   
      

    }
    .back{
        opacity: 0.9;
        font-size: large;
        margin-left:5px;
        background-attachment: fixed;
        margin-top:80%;
        max-width:600%;
          
    }
    .size{
        opacity: 0.9;
        width:90%;
        margin-left:15px;
    }

}
